<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>便利贴</title>
  </head>
  <body>
    <div id="header">
      <a class="add-note" title="添加笔记" href="#"><span class="fa fa-plus"></span> 添加</a>
      <ul class="user-area">
          <li><a class="login" title="GitHub登录" href="/auth/github"> GitHub登录</a>
          </li> 
      </ul>

    </div>
    <div id="content">

    </div>

    <div class="stars"></div>
    <script src="../public/js/bundle.js"></script>
<!--     <div class="twinkling"></div> -->
  </body>
</html>
